
EntelectHackathon2022/obj/Debug/net6.0/EntelectHackathon2022.assets.cache
EntelectHackathon2022/obj/Debug/net6.0/EntelectHackathon2022.assets.cache
EntelectHackathon2022/obj/project.nuget.cache
EntelectHackathon2022/obj/project.assets.json
EntelectHackathon2022/obj/EntelectHackathon2022.csproj.nuget.g.props
EntelectHackathon2022/obj/EntelectHackathon2022.csproj.nuget.dgspec.json
EntelectHackathon2022/obj/Debug/net6.0/EntelectHackathon2022.GeneratedMSBuildEditorConfig.editorconfig
EntelectHackathon2022/obj/Debug/net6.0/EntelectHackathon2022.assets.cache
